.login-website-logo {
  height: 40px;
  width: 150px;
  margin-bottom: 50px;
}
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: 'Roboto';
}
.logo-container {
  display: flex;
  justify-content: center;
}

.login-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
  max-width: 400px;
  justify-self: center;
  align-self: center;
  padding: 30px;
  content: '';
  position: relative;
  inset: 0;
  border: 1px solid transparent;
  animation: animateBorder 4s linear infinite;
  border-radius: 20px;
}

@keyframes animateBorder {
  0% {
    border-top-color: red;
    border-right-color: yellow;
    border-bottom-color: blue;
    border-left-color: green;
  }
  25% {
    border-top-color: yellow;
    border-right-color: blue;
    border-bottom-color: green;
    border-left-color: red;
  }
  50% {
    border-top-color: blue;
    border-right-color: green;
    border-bottom-color: red;
    border-left-color: yellow;
  }
  75% {
    border-top-color: green;
    border-right-color: red;
    border-bottom-color: yellow;
    border-left-color: blue;
  }
  100% {
    border-top-color: red;
    border-right-color: yellow;
    border-bottom-color: blue;
    border-left-color: green;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-el {
  background-color: transparent;
  outline: none;
  border: 1px solid #b6c5ff;
  margin-bottom: 10px;
  margin-top: 4px;
  color: #475569;
  padding: 5px;
  font-size: medium;
  border-radius: 5px;
  color: #f8fafc;
  flex-grow: 1;
}

.label-el {
  color: #f8fafc;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: small;
  font-weight: 500;
}
.password-container {
  width: 100%;
  border: 1px solid #b6c5ff;
  background-color: transparent;
  margin-top: 4px;
  padding: 0px;
  border-radius: 5px;
}
.password-input {
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  margin: 0px;
  color: #475569;
  padding: 5px;
  font-size: medium;
  border-radius: 5px;
  color: #f8fafc;
  flex-grow: 1;
  outline: none;
  border: 0px;
  width: 85%;
}
.login-button {
  background-color: #6366f1;
  outline: none;
  cursor: pointer;
  border-width: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  margin-top: 7px;
  font-weight: bold;
}
.error-msg {
  color: #ff0b37;
  font-size: small;
}
.password-hint {
  color: #ffffff;
  font-size: small;
  margin: 0px;
}
.password-show-hide-btn {
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .login-container {
    width: 90%;
  }
}
